[submodule "submodules/verilator"]
	path = submodules/verilator
	url = https://github.com/verilator/verilator.git
	shallow = true
[submodule "submodules/astsee"]
	path = submodules/astsee
	url = https://github.com/antmicro/astsee.git
	shallow = true
[submodule "submodules/example-systemverilog"]
	path = submodules/example-systemverilog
	url = https://github.com/verilator/example-systemverilog.git
	shallow = true
[submodule "submodules/sv-bugpoint"]
	path = submodules/sv-bugpoint
	url = https://github.com/antmicro/sv-bugpoint
	shallow = true
